[submodule "Bot based on recomendative system"]
	path = Bot based on recomendative system
	url = git@github.com:Mr-S-Mirzoev/Bots.git
[submodule "DictoApp"]
	path = DictoApp
	url = git@github.com:Mr-S-Mirzoev/DictoApp.git
